<div class="wrapper">
    <section>
      <h3>Please Confirm Your Information</h3>
      <ul *ngIf="formValue$ | async as items">
        <ng-container *ngFor="let item of items">
          <li *ngIf="item.value !== null">{{item.label}} | <b>{{item.value}}</b></li>
        </ng-container>
      </ul>
    </section>
    <div class="button-group">
      <button
        class="nav"
        mat-flat-button
        color="primary"
        (click)="routeTo('home')">Back
      </button>
      <button class="submit" mat-flat-button color="primary">Submit</button>
    </div>
  </div>
  