<div class="wrapper">
  
	<mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
	<div *ngFor="let page of pages | 
  slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">
		<!-- Page Header -->
		<div>{{page.Label}}</div>

		<section *ngFor="let section of page.Sections">
			<!-- Section Header -->
			<div style="margin-bottom: 16px">
				<b>{{section.Label}}</b>
			</div>

			<!-- Form for the Section -->
			<div style="margin-bottom: 16px">
				<app-form-renderer [form]="section.formGroup" [questions]="section.Questions"></app-form-renderer>
			</div>

		</section>
	</div>

	<div class="button-group">
		<button mat-flat-button color="primary" *ngIf='isLastPage' (click)="routeTo('confirm')">Finish</button>
	</div>

  <div *ngIf='!allowProgress'>Please fill out required fields to proceed.</div>

  <div [hidden]='!allowProgress'>
	  <mat-paginator #paginator 
	  [pageSize]="1" 
	  [length]="pages.length" 
	  [pageSizeOptions]="[1, 2, 5]"
      (page)="pageEvents($event)">
    </mat-paginator>
  </div>


</div>